@model IEnumerable<ToDoList.WebApp.Models.ToDoListItemModel>
@*@model IEnumerable<ToDoList.Common.Entities.ToDoListItem>*@


@{
    ViewBag.Title = "Home Page";
    int count = 0;
}

<h2></h2>
<input type="submit" value="Logout" onclick="location.href='@Url.Action("Logout", "Home")'" class="btn btn-default" style="float: right;">
<p>
    @Html.ActionLink("Create New List", "CreateListView", "", new { @class = "btn btn-success" })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Name")
            </th>
            <th>
                @Html.DisplayName("Create date")
            </th>
            <th>
                @Html.DisplayName("IsNotCompleted")
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Name)
            </td>
            <td>
                @Html.DisplayFor(model => item.CreateDate)
            </td>
            @foreach (var i in item.Tasks)
            {
                if (i.IsCompleted == false)
                {
                    count++;
                }
            }
            <td>
                @Html.DisplayName(count.ToString())
                @{
                    count = 0;
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "EditListView", new { id = item.Id }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Details", "DetailsView", new { id = item.Id }, new { @class = "btn btn-warning" })  |
                @Html.ActionLink("Delete", "RemoveListView", new { id = item.Id }, new { @class = "btn btn-danger" })

            </td>
        </tr>
    }
</tbody>
</table>

