@*@model ToDoList.Common.Entities.ToDoListItem*@
@model ToDoList.WebApp.Models.ToDoListItemModel

@{
    ViewBag.Title = "DetailsView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>
<p>
    @Html.ActionLink("Create New Task", "CreateTaskView", new { listId = Model.Id }, new { @class = "btn btn-success" })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Text")
            </th>
            <th>
                @Html.DisplayName("Is Completed")
            </th>
            <th>
                @Html.DisplayName("Create date")
            </th>
            <th>
                @Html.DisplayName("Completed date")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Tasks)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Text)
                </td>
                <td>
                    @Html.CheckBoxFor(model => item.IsCompleted, new { onclick = "EditIsCompleted(this)", data_listid = Model.Id, data_taskid = item.Id } )
                    <td>
                    @Html.DisplayFor(model => item.CreateDate)
                </td>
                <td>
                    @Html.DisplayFor(model => item.CompleteDate)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditTaskView", new { listid = item.ToDoListItem.Id, taskid = item.Id }, new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Delete", "RemoveTask", new { listid = item.ToDoListItem.Id, taskid = item.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    @Html.ActionLink("Back to List", "Index", "Home", "", new { @class = "btn btn-warning" })
</p>
<script>
    function EditIsCompleted(elem) {
        var isDone = $(elem).is(':checked');
        var cid = $(elem).data('taskid');
        var listid = $(elem).data('listid');
    $.ajax({
        type: "POST",
        url: "@Url.Action("EditIsCompleted", "ToDoListTask")",
        data: { taskid: cid,  iscompleted: isDone, listid: listid },
        success: function(res) {
            console.log(res);
            //alert("success")
        }
        ,error: function (res) {
            console.log(res);
            //alert("Error while updating task");
            $(elem).prop('checked', !isDone);
        }
    });
    
}
</script>


